:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc107;
    --whiteColor: #fff;
    --blackColor:#222;
    --softGreencolor:#d9f2ee;
    --darkGreycolor: #a7a7a7;
    --greyColor: #f5f5f5;
    --border-radius: 50px;
    --box-shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow2: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
     --transition:all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}

body{
    background-color: var(--softGreencolor);
    font-family: 'Open sans', sans-serif;
}

main{
    width: 100%;
    height: auto;
    display: flex;
}
/*card  ---------------*/
.formule-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
}

.formule-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

    
/*========================  MENU A GAUCHE    =========================*/
.leftbar{
    height:100%; 
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.leftbar-menus {
    display: flex;
    flex-direction: column;

}
.leftbar-menus a ion-icon{
    font-size: 20px;
    color: var(--secondaryColor);
}
.leftbar-menus a, .leftbar-quitter a {
    padding: 5% 8%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.leftbar-menus a:hover, .leftbar-quitter a:hover{
    background-color: var(--secondaryColor) ;
    border-radius: var(--border-radius);
}

/*========================  MENU A GAUCHE FIN     =========================*/

/*========================  MAIN MENU    =========================*/
.main {
    width: 100%;
    height: auto;
    padding: 2% 2% 0 2%;
    min-height: 100vh;
    background-color: var(--softGreencolor);
    margin-left: 250px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.main-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle{
    display: none;
}

/* partie de recherche */
.barre-recherche{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 0.5rem;
    background-color: var(--whiteColor);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
    margin: auto;
    transition: box-shadow 0.3s ease;
   
}

.barre-recherche:hover{
    box-shadow: 0 0 0 4px rgba(0, 121, 107, 0.2);
}

.barre-recherche input[type="search"]{
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--blackColor);
    padding: 0.5rem;
}

.barre-recherche input::placeholder{
    color: var(--darkGreycolor);
}

.barre-recherche button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem 1rem;

}
.barre-recherche button:hover{
    background-color: rgba(0, 121, 107, 0.15);
    border-radius: 50px;
    transform: scale(1.01);
}

.barre-recherche .material-icons{
    font-size: 1.5rem;
    color: var(--primaryColor);
}

#clear-search{
    display: none;
    transition: opacity 0.3s ease;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

/* partie de recherche fin */
.profile{
    display: flex ;
    align-items: center;
    gap: 0.5rem;
}

.cart {
    position: relative;
}
.btn-ajout-panier {
    margin-top: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ajout-panier:hover {
    background-color: var(--primaryColor); 
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--secondaryColor);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    display: none; 
}

.cart, .user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    height: 40px;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.cart:hover, .user:hover{
    box-shadow: rgba(149,157, 165,0.2) 0px 8px 24px;
    transform: translateX(-2px);   

}


/*========================  MAIN NAVBAR FIN   =========================*/

/*========================  MAIN / MENUS    =========================*/

.main-highlight{
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondaryColor);
    border-radius: 8px;
}
.main-header{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}

.main-title{
    font-size: 20px;
}
.main-fleche{
    font-size: 24px;
}
.back, .next{
    cursor: pointer;
}

.back:hover, .next:hover {
    color: var(--primaryColor);
}

.highlight-wrapper{
    display: flex; 
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: auto; /*overflow-x: auto permet le scroll horizontal sur .highlight-wrapper*/
    scroll-behavior: smooth;

    /* Masque la scrollbar */
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
}
.highlight-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.highlight-card{
    min-width: 250px; /*min-width + scroll-behavior: smooth créent un effet de carrousel fluide*/
    flex-shrink: 0; /*flex-shrink: 0 garde les cartes visibles en taille fixe (sinon elles se compressent)*/
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--greyColor);
    cursor: pointer;
}

.highlight-card:hover{
    transform: translateY(-6px);
    box-shadow: var(--box-shadow2);
}


.highlight-img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover ;
    object-position: center;
}
.hightlight-desc h4{
    color: var(--primaryColor);
}
.hightlight-desc p{
    color: var(--blackColor);
    font-size: 13px;
}

.main-menus{
    min-height: auto;
    background-color: var(--greyColor);
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 0;
}

.main-filtrer{
   display: flex; 
   width: 100%;
   flex-direction: row ;
   align-items: center;
   margin-top: 1.5rem;
   gap: 1rem;
}

.back-menus, .next-menus{
    cursor: pointer;
}
.back-menus:hover, .next-menus:hover{
    color: var(--primaryColor);
}

.filtre-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;

}

.flitre-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border-radius: 8px;
    border: 1px solid var(--softGreencolor);
    font-size:14px ;
    cursor: pointer;
}

.flitre-card:hover{
    background-color:var(--primaryColor);
    color:var(--whiteColor);
}


.filtre-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30px;
    background-color: var(--softGreencolor);
    color: var(--primaryColor);
    border-radius: 8px;
}

.flitre-card:hover .filtre-icon{
    background-color: var(--whiteColor);
}

.divider{
    margin-top: 1rem;
    height: 1px;
    width: 100%;
    background-color: var(--primaryColor);
    border: none;
}

.main-details{
    margin: 1rem 0 0 0;
}

.details-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-top: 1rem;
    gap: 2%;
    border-radius: 8px;
}

.details-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--whiteColor);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow2);
    padding: 0;
    margin: 1rem 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details-sub,
.plat-prix,
.plat-categorie{
    font-size: 0.9rem;
    color: var(--darkGreyColor);
    margin: 0;
}
.plat-prix strong, .plat-categorie strong{
    color: var(--primaryColor);
   
}

.details-name h4 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--primaryColor);
}

.details-card:hover{
    box-shadow: var(--box-shadow1);
}

.details-card:hover .details-img{
    filter: opacity(1);
}

.details-card:hover .details-name h4 {
    color: var(--primaryColor);
}

.details-card:hover .contenu a{
    color: var(--secondaryColor);
    transform: translate3d(0, -2px, 0);
    transition: var(--transition);
}

.details-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
}
.detail-desc{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.details-sub{
    font-size: 12px;
    color: var(--blackColor);
    letter-spacing: 0.5;
    margin: 1% 0;
}

.contenu{
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.contenu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--primaryColor);
}

#liste-formules-public {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.carte-formule {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 240px;
    text-align: center;
}



/*========================  MAIN FIN    =========================*/
/*========================  FOOTER    =========================*/
footer{
    
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 2rem 1rem;
    margin-top: 3rem; 
    margin-left: 250px;
    border-top: 4px solid var(--secondaryColor);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);

    
}


.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;   
   
}

.footer-content p{
    font-size: 1.2rem;
    color: var(--whiteColor);
    margin: 0 auto;
}

.footer-content h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-decoration: underline var(--secondaryColor) 3px;
    color: var(--secondaryColor);
}

.footer-content a {
    display: block;
    color: var(--whiteColor);
    text-decoration: none;
    margin: 0.4rem 0;
    transition: color 0.3s ease;
    font-size: 1.1rem;
}

.footer-content {
    flex: 1;
    min-width: 200px;
}

.footer-content a:hover {
    color: var(--secondaryColor);
    font-weight: 600;
}

.footer-links{
    list-style: none;
}
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 2px solid var(--secondaryColor);
    padding-top: 1.5rem;
}

.footer-bottom p {
    font-weight: bold;
    font-size: 1rem;
    color: var(--whiteColor);
}
/*

/*========================  RESPONSIVE   =========================*/
/* responsive pour les petits écrans mobile*/

@media screen and (max-width: 768px) {
    .main-navbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding-top: 4rem;
    }
    .recherche{
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
    }
    .recherche input{
        width: 100%;
        flex: 1;
        padding: 0 8px;
    }
   .recherche-btn{
        flex-shrink: 0;
        width: auto;
        padding: 0 12px;
    }
    .profile{
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
    }
    .leftbar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        backdrop-filter: blur(4px);
        flex-direction: column;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .leftbar.active {
        left: 0;
    }

    .main {
        margin-left: 0 !important;
    }

    .menu-toggle {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1001;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        background-color: var(--whiteColor);
        color: var(--primaryColor);
        padding: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: var(--box-shadow1);
        cursor: pointer;
    }

    .menu-toggle:hover {
        background-color: var(--secondaryColor);
        color: var(--whiteColor);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }

    .main {
        flex-direction: column;
        width: 100%;
        padding-top: 60px; /* pour laisser de la place au menu-toggle sticky */
    }
    .main-filter{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .main-filter > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .main-arrow {
        display: flex;
        gap: 0.5rem;
        font-size: 24px;
    }

    .details-wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .details-card{
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        
    }
    .details-img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius:8px 8px 0 0;
    }
  
    .details-desc{
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .details-name{
        width: 100%;
    }
    footer {
        margin-left: 0;
        padding: 1.5rem 1rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    .footer-content h3 {
        font-size: 1.3rem;
    }

    .footer-content a {
        font-size: 1rem;
    }

    .footer-bottom p {
        font-size: 0.9rem;
    }
}


/* responsive pour les petits écrans tablette*/
@media screen and (min-width: 601px) and (max-width: 1024px){
    .leftbar{
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .logo {
       font-size: 1.2em; 
       padding-left: 7px;
       margin-top: 50px;
       display: inline-block;
        
    }

   
    .leftbar.active{
        transform: translateX(0);
    }
    .main{
        margin-left: 0;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }
    .overlay.active {
        display: block;
    }

    footer{
        margin-left: 0;
    }
} 

/* Mobiles */
@media screen and (max-width: 600px) {
  /* Styles pour petits téléphones */
    .leftbar{
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        background-color: var(--primaryColor);
    }
    
    .leftbar.active{
        transform: translateX(0);
    }
    .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }
    .overlay.active {
        display: block;
    }
    .main {
        margin-left: 0;
        padding: 10px;
    }

    .barre-recherche{
        max-width: 90px;
        padding: 0.4rem 0.8rem;
    }
    .barre-recherche input{
        font-size: 0.95rem;
    }

    .barre-recherche .material-icons{
        font-size: 1.3rem;
    }

    .main-navbar{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .main-navbar .recherche{
        width: 100%;
    }

    .main-navbar .profile {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding-right: 10px;
    }

    footer {
        margin-left: 0;
        padding: 10px;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }
    .footer-content  {
        width: 100%;
    }
    .footer-content h3,
    .footer-content ul,
    .footer-content p{
        text-align: center;
        
       
    }

    .footer-links li {
        margin-bottom: 8px;
    }

    .logo {
       font-size: 1.2em; 
       padding-left: 7px;
       margin-top: 50px;
       display: inline-block;
        
    }



}




@media screen and (min-width: 1025px) {
  /* Styles pour grands écrans */
    body{
        max-width: 1200px;
        margin: 0 auto;
    }
    .lefbar{
        width: 220px;
    }
    .leftbar .logo{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .main{
        margin-left: 220px;
        padding: 20px;
    }

    .footer{
        margin-left: 220px;
        padding: 20px 40px;  
    }
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }
    .footer-content{
        width: 30%;
    }
}


/*========================  MEDIA QUERY FIN   =========================*/

/*  style des popup des cuisines    */

.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}


.btn-ajouter-panier {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-ajouter-panier:hover {
    background-color: #005f56;
}

form button {
    padding: 2px 8px;
    margin: 0 5px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #005f56;
}











