<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Panier - RestoEtudiant</title>
    <link rel="stylesheet" href="../Styles/panier.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <script type="module" src="../controller/panier.js"></script>
</head>

<body>

    <header>
        <h1>Votre Panier <span class="material-icons">shopping_cart</span></h1>
        <a href="index.html" class="retour-accueil">
            <span class="material-icons">arrow_back</span> Retour à l'accueil
        </a>
    </header>

    <main class="contenu-panier">
        <div id="liste-panier">
            <!-- Les plats ajoutés s'afficheront ici dynamiquement -->
        </div>
    </main>

    <footer>
       
        <p>RestoEtudiant © 2025</p>
    </footer>

</body>

</html>